name: Update Barça Reputation Data

on:
  schedule:
    - cron: '0 0 */3 * *'
  workflow_dispatch: 

jobs:
  build:
    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
    - name: Checkout repo content
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.9'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Run extractor
      env:
        NEWS_API_KEY: ${{ secrets.NEWS_API_KEY }}
      run: python extractor.py

    - name: Commit and Push changes
      run: |
        git config --local user.email "github-actions[bot]@users.noreply.github.com"
        git config --local user.name "github-actions[bot]"
        # Usamos -f para saltar el .gitignore solo aquí
        git add -f reputation.db 
        git commit -m "Auto-update: reputation.db [skip ci]" || echo "No hay cambios en la base de datos"
        git push
